.app-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 30px;
}

.app-header h1 {
    font-size: 40px;
}

.app-header h2 {
    font-size: 15px;
    color: #6e6c6c;
}